<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.twt.time_capsule.mapper.PrivateCapsuleMapper">
    <select id="getOpenedCapsules" resultType="com.twt.time_capsule.entity.PrivateCapsule">
        select * from private_capsule where uid = #{uid} and success > 1
    </select>
    <select id="getClosedCapsules" resultType="com.twt.time_capsule.entity.PrivateCapsule">
        select * from private_capsule where uid = #{uid} and success = 0
    </select>
    <select id="getReadyCapsules" resultType="com.twt.time_capsule.entity.PrivateCapsule">
        select * from private_capsule where uid = #{uid} and success = 1
    </select>
    <select id="getAllCapsules" resultType="com.twt.time_capsule.entity.PrivateCapsule">
        select * from private_capsule where uid = #{uid}
    </select>
</mapper>